*{
    text-decoration: none;
    font-family: 'RocknRoll One', sans-serif !important;
}
body{
    background-color: #6fbbd3;
    height: 100% ;
}
.main-landing-page{
    width: 100%;
    background-color: #6fbbd3;
    height: 100%;
}
.container-landing-page{
    border-radius: 20px;
    text-align: center;
    margin: auto;
    background-color: #ededed;
    width: 60%;
    padding-bottom: 2%;
}
.title-landing-page{
    font-size: 32px;
}
.voltar a{
    color: #6fbbd3;
}
.voltar:hover{
    opacity: 0.6;
}